@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

input,
button {
    font: inherit;
}

html {
    font-family: 'Poppins', sans-serif;
}

.mb-3 {
    font-weight: bold;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.table {
    align-items: center;
    justify-content: center;

}

.iconDelete {
    color: red;
    padding: 5px;
}

.iconDelete:hover {
    background-color: darkgray;
    border-radius: 10px;
}

.iconUpdate {
    color: blue;
    padding: 5px;
}

.iconUpdate:hover {
    background-color: darkgray;
    border-radius: 10px;
}
